@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradient-start: #ff8d27;
  --gradient-end: #d532a2;
  --gradient-via: #ff495c;
}

.gradient-text {
  @apply bg-gradient-to-r from-[var(--gradient-start)] via-[var(--gradient-via)] to-[var(--gradient-end)] bg-clip-text text-transparent;
}

.gradient-bg {
  background: linear-gradient(105deg, #007cf0, #00dfd8);
}

.danger-bg {
  background: linear-gradient(105deg, #f04400, #f08300);
}
